.bwp-headline > h1 > img {
    vertical-align: middle;
    margin-right: 0.8em;
    height: 1.8em;
}

#menu {
    margin-right: 10px;
}

.form-action {
    padding-left: 20px;
}

.form-action > h2 {
    margin-left: 10px;
    margin-bottom: 20px;
}

.bwp-btn {
    min-width: 32px;
    min-height: 32px;
    vertical-align: middle;
    font-weight: 600;
}

.form-rows {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px 20px;
    align-items: start;
    max-width: 600px;
    margin-bottom: 20px;
}

.form-rows p {
    display: contents;
}

.form-rows label {
    padding-top: 4px;
    text-align: right;
}

.form-rows input,
.form-rows textarea,
.form-rows select {
    width: 100%;
}

.form-rows textarea {
    max-height: 100px;
}

.form-rows input {
    min-height: 22px;
}

.form-rows select {
    min-height: 28px;
}

.bwp-btn, .bwp-search-bar, input, textarea, select {
    font-size: 16px;
}

/* standard list layout */
.list-container > .bwp-flex-container > a {
    display: inline-block;
    padding: 0;
    margin: 0;
    line-height: normal;
}

.list-container > .bwp-flex-container > a > abbr {
    display: inline-block;
}

.bwp-flex-container.two-col-container > div,
.bwp-flex-container.two-col-container > a {
    width: calc(50% - 38px);
}

.pagination {
    margin: 20px;
}

.pagination > .backward-page {
    margin-right: 16px;
}

.pagination > .forward-page {
    margin-left: 16px;
}