{% extends 'standard_layout.html' %}

{% block content %}
<script type="text/javascript">
    function clickDelete(button) {
        if (confirm('Wirklich entfernen?')) {
            button.form._method.value = "DELETE";
            button.form.submit();
        }
    }
</script>

<form class="bwp-container form-action" method="post" enctype="multipart/form-data" action="{{form.action}}">
    {% csrf_token %}
    <h2>{{ form.title }}</h2>
    <div class="form-rows">
        {{ form.innerBody.as_p }}
    </div>
    <button class="bwp-btn" type="submit">&#128427;</button>
    {% if form.innerBody.instance.pk %}
    <button class="bwp-btn" type="button" onclick="clickDelete(this)">&#128465;</button>
    {% else %}
    <button class="bwp-btn" type="button" disabled>&#128465;</button>
    {% endif %}
    <button class="bwp-btn" type="reset">&#8635;</button>
    <button class="bwp-btn" onclick="history.back()">&larr;</button>
    <input type="hidden" name="_method" value="POST">
</form>
{% endblock %}