{% extends 'standard_layout.html' %}

{% block content %}
<script type="text/javascript">
    function clickDelete(button) {
        if (confirm('Wirklich entfernen?')) {
            button.form._method.value = "DELETE";
            button.form.submit();
        }
    }
</script>

<form class="bwp-container form-action" method="post" enctype="multipart/form-data" action="{{form.action}}">
    {% csrf_token %}
    <h2>{{ form.title }}</h2>
    <div class="form-rows">
        {% if form.innerBody.non_field_errors %}
        <ul class="errorlist" style="grid-column: 1 / -1;">
            {% for error in form.innerBody.non_field_errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% for field in form.innerBody.visible_fields %}
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% if field.field.widget.input_type == 'file' %}
        <div class="file-input-box">
            <input type="file" name="{{ field.name }}" id="{{ field.id_for_label }}">
            {% if field.value %}
            Aktuell:<a href="{{ field.value.url }}">{{ field.value.name }}</a>
            {% endif %}
        </div>
        {% else %}
        {{ field }}
        {% endif %}
        {% if field.errors %}
        <ul class="errorlist">
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endfor %}
    </div>
    <button class="bwp-btn" type="submit">&#128427;</button>
    {% if form.innerBody.instance.pk %}
    <button class="bwp-btn" type="button" onclick="clickDelete(this)">&#128465;</button>
    {% else %}
    <button class="bwp-btn" type="button" disabled>&#128465;</button>
    {% endif %}
    <button class="bwp-btn" type="reset">&#8635;</button>
    <button class="bwp-btn" onclick="history.back()">&larr;</button>
    <input type="hidden" name="_method" value="POST">
</form>
{% endblock %}