<div class="part image-container">
    {% with item.get_img_url as img_url %}
    {% if img_url %}
        <img src="{{item.get_img_url}}" />
    {% endif %}
    {% endwith %}
    <div class="text-content">
        <h3>
            {% if showProject %}
            <span class="part-project">{{item.project}}:</span>
            {% endif %}
            <span class="part-name">{{item.name}}</span>
            <a class="action bwp-btn" href="{% url '3d_libary:part_action' item.pk %}">&#x270E;</a>
            <a class="detail bwp-btn" href="{% url '3d_libary:part_single' item.pk %}">&#x1F441;</a>
        </h3>
        <p>{{item.desc}}</p>
        <div class="bwp-flex-container">
            {% for tag_i in item.tags.all %}
            {% include '3d_libary/_tag.html' with item=tag_i %}
            {% endfor %}
        </div>
    </div>
</div>