<div class="project">
    <h3>
        {{project.name}}
        <a class="action bwp-btn" href="{% url '3d_libary:project_action' project.pk %}">&#x270E;</a>
    </h3>
    <p>{{project.target}}</p>
    <p>Projektteile ({{project.parts.all.count}})</p>
    <div class="bwp-flex-container tag-box">
        {% with project.get_all_tags as tags %}
        {% if tags %}
            {% for tag_i in tags %}
            {% include '3d_libary/_tag.html' with tag=tag_i %}
            {% endfor %}
        {% else %}
        <p>Keine Tags vorhanden.</p>
        {% endif %}
        {% endwith %}
    </div>
</div>