<div class="project">
    <h3>
        {{item.name}}
        <a class="action bwp-btn" href="{% url '3d_libary:project_action' item.pk %}">&#x270E;</a>
        <a class="detail bwp-btn" href="{% url '3d_libary:project_single' item.pk %}">&#x1F441;</a>
    </h3>
    <p>{{item.target}}</p>
    <p>Projektteile ({{item.parts.all.count}})</p>
    <p>Bauteile ({{item.get_all_variants|length}})</p>
    <div class="bwp-flex-container tag-box">
        {% with item.get_all_tags as tags %}
        {% if tags %}
        {% for tag_i in tags %}
        {% include '3d_libary/_tag.html' with item=tag_i %}
        {% endfor %}
        {% else %}
        <p>Keine Tags vorhanden.</p>
        {% endif %}
        {% endwith %}
    </div>
</div>