{% load static %}

<div class="variant bwp-image-container">
    {% if item.image %}
    <img class="bwp-image-zoom" src="{{item.image.url}}" />
    {% endif %}
    <div class="text-content">
        <h3>
            {{item.name}}
            <a class="action bwp-btn" href="{% url '3d_libary:variant_action' item.pk %}">&#x270E;</a>
        </h3>
        <p>Version: {{item.version}}</p>
        <p>Druckprofil: {{item.printprofil}}</p>
        {% if item.notice %}
        <p>Notiz: {{item.notice}}</p>
        {% endif %}
        <div class="downloads">
            {% if item.fc_file %}
            <a href="{{item.fc_file.url}}"><img src="{% static 'icon/FCStd_Download_icon.png' %}" /></a>
            {% endif %}
            <a href="{{item.stl_file.url}}"><img src="{% static 'icon/STL_Download_icon.png' %}" /></a>
        </div>
    </div>
</div>