{% extends 'standard_layout.html' %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/3d_libary_style.css' %}">
<style>
    .bwp-flex-container > a {
        display: inline-block;
        padding: 0;
        margin: 0;
        line-height: normal;
    }
    .bwp-flex-container > a > abbr {
        display: inline-block;
    }
</style>
{% endblock %}

{% block content %}
{% for list in lists %}
<div class="bwp-container">
    <h2>{{list.title}}<a class="new bwp-btn" href="{% url list.new_url %}">+</a></h2>
    {% if list.two_cols %}
    <div class="bwp-flex-container two-col-container">
    {% else %}
    <div class="bwp-flex-container">
    {% endif %}
        {% for object_i in list.objects %}
        {% if list.action_url %}
        <a href="{% url list.action_url object_i.pk %}">{% include list.object_template with item=object_i %}</a>
        {% else %}
        {% include list.object_template with item=object_i %}
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endfor %}
{% endblock %}