{% extends 'standard_layout.html' %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/3d_libary_style.css' %}">
<style>
    h2 {
        margin-bottom: 8px;
    }

    .part {
        width: calc(50% - 40px);
    }
</style>
{% endblock %}

{% block content %}
<div id="part-box" class="bwp-container">
    <h2>Projektteile<a class="new bwp-btn" href="{% url '3d_libary:part_new' %}">+</a></h2>
    <div class="bwp-flex-container">
        {% for part_i in parts %}
        {% include '3d_libary/_part.html' with part=part_i showProject=True %}
        {% endfor %}
    </div>
</div>
{% endblock %}