{% extends 'standard_layout.html' %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/3d_libary_style.css' %}">
{% endblock %}

{% block content %}
<div id="print-profil-box" class="bwp-container">
    <h2>Druckprofile<a class="new bwp-btn" href="{% url '3d_libary:print_profil_new' %}">+</a></h2>
    <div class="bwp-flex-container two-col-container">
        {% for profil_i in print_profils %}
        <a href="{% url '3d_libary:print_profil_action' profil_i.pk %}" class="print-profil">
            <h3>{{profil_i.name}}</h3>
            <p>{{profil_i.desc}}</p>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}