{% extends 'standard_layout.html' %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/3d_libary_style.css' %}">
{% endblock %}

{% block content %}
<div id="project-box" class="bwp-container">
    <h2>Projekte<a class="new bwp-btn" href="{% url '3d_libary:project_new' %}">+</a></h2>
    <div class="bwp-flex-container two-col-container">
        {% for project_i in projects %}
        {% include '3d_libary/_project.html' with project=project_i %}
        {% endfor %}
    </div>
</div>
{% endblock %}