{% extends 'standard_layout.html' %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/3d_libary_style.css' %}">
<style>
    h2 {
        margin-bottom: 8px;
    }
    h2 > .new {
        margin-left: 15px;
    }
    .bwp-flex-container > a {
        text-decoration: none;
        color: inherit;
    }
    #tag-box > .bwp-flex-container > a {
        padding: 16px 0px 16px 0px;
    }
</style>
{% endblock %}

{% block content %}
<div id="tag-group-box" class="bwp-container">
    <h2>Tag-Gruppen<a class="new bwp-btn" href="{% url '3d_libary:tag_group_new' %}">+</a></h2>
    <div class="bwp-flex-container">
        {% for tag_group_i in tag_groups %}
        <a href="{% url '3d_libary:tag_group_action' tag_group_i.pk %}" class="tag-group" style="border-color:{{tag_group_i.color}}">{{tag_group_i.name}}</a>
        {% endfor %}
    </div>
</div>
<div id="tag-box" class="bwp-container">
    <h2>Tags<a class="new bwp-btn" href="{% url '3d_libary:tag_new' %}">+</a></h2>
    <div class="bwp-flex-container">
        {% for tag_i in tags %}
        <a href="{% url '3d_libary:tag_action' tag_i.pk %}">{% include '3d_libary/_tag.html' with tag=tag_i %}</a>
        {% endfor %}
    </div>
</div>
{% endblock %}